@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";


@theme {
    --color-blueC-900: hsl(209, 23%, 22%);
    --color-blueC-950: hsl(207, 26%, 17%);
    --color-greyC-950: hsl(200, 15%, 8%);
    --color-greyC-400: hsl(0, 0%, 50%);
    --color-greyC-50: hsl(0, 0%, 99%);
    --color-whiteC: hsl(0, 100%, 100%);
    --font-nunito : 'Nunito Sans', sans-serif;

}
/* box-shadow: 0px 0px 25px -5px #000000;*/
/* --shadow-perso : -webkit-box-shadow: 0px 0px 25px -5px #000000; */


@custom-variant dark (&:where(.dark, .dark *));



* {
  box-sizing: border-box;

}

body {
  font-family: 'Nunito Sans', sans-serif;
}

